/* setup
*/
* {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  overflow: hidden;
}
:root {
  /* fonts */
  --font-main: 'Fira Code', monospace; /* weights: 400, 700 */
  /* colors */
  --bg: rgb(15, 25, 17);
  --text: rgb(170, 181, 207);
  --yellow: rgb(255, 250, 148);
  --green: rgb(117, 247, 139);
  --green2: rgba(117, 247, 139, 0.025);
  --error: rgb(231, 98, 116);
  --alt: rgb(129, 129, 129);
}

/* layout
*/
body {
  background-color: var(--bg);
  color: var(--text);
}
main {
  max-width: 100vw;
  min-height: 100dvh;
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.select-game {
  width: 100%;
  min-height: 100%;
  background-color: var(--green2);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fonts
*/
body {
  font-family: var(--font-main);
  font-size: 16px;
}
.banner {
  color: var(--green);
  font-weight: 700;
  font-size: 12px;
}
.text {
  color: var(--text);
  font-weight: 400;
}
.prompt {
  color: var(--green);
  font-weight: 700;
  margin: 10px 0 10px 0;
}
.alt {
  color: var(--alt);
}

/* mode selection
*/
.select-game button {
  color: var(--text);
  background-color: var(--green2);
  border: 1px solid var(--green);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
/* .last-item
.cur-item
.next-item */

svg {
  background-color: var(--bg);
  margin: 10px;
  padding: 20px;
  border-radius: 0.85rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2px;
  width: 75px;
  min-height: 75px;
  fill: var(--green);
}
