/* layout
*/
.terminal {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.command-line {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
}

/* fonts
*/
.command {
  font-weight: 700;
  margin-left: 5px;
}

/* caret 
*/
.caret {
  background-color: var(--green);
  width: 10px;
  height: 20px;
  position: relative;
  left: 0px;
}
.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* output
*/
.terminal-output {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
pre {
  position: relative;
  display: block;
  line-height: 1.3em;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--font-main);
  animation: typing 0.5s steps(30, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.banner {
  align-self: center;
}
.text {
  align-self: start;
}
