/* 
  - #DEFAULT STYLING
*/

/* fonts
*/
body {
  background: radial-gradient(closest-side, var(--green3), var(--green3), var(--bg));
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-main);
  font-size: var(--font-s-reg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* layout
*/
main {
  max-width: 100vw;
  min-height: 100svh;
  margin: var(--main-margin);
  display: flex;
  flex-direction: column;
}

.game-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89svh;
}